#--------------------------------
# Visual Studio Cache Directory -
#--------------------------------
.vs/

#--------------------------------
# Visual Studio Build Folder    -
#--------------------------------
obj/
bin/

#--------------------------------
# Application Genarate File     -
#--------------------------------
*.bak

#--------------------------------
# User-Specific File            -
#--------------------------------
*.user
*.suo

#--------------------------------
# Windows image cache           -
#--------------------------------
Thumbs.db